@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import '../config.scss';

*{
    font-family: 'Varela Round', sans-serif;
}

.adminMainInnerContainer{
    padding: 50px;
}

.adminHeaderContent{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: $darkBlue;
    font-weight: bold;
    

    svg{
        margin-right: 10px;
    }
}

.btnAdd{
    border: 0;
    padding: 7px 12px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 10px;
    color: #000;
    font-weight: 900;
}