$lightBlue: #2CB8AF;
$darkBlue: #262F3D;
$grey: #ababab;
$dirtyWhite : #d6d6d6;
$white: #fff;
$orange: #ffa127;

.flexCenter{
    display:flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display:flex;
}

.width100{
    width: 100%;
}

.fs14{
    font-size: 14px;
}

