// Utilities
@import './assets/scss/utilites/helperClasses';
@import './assets/scss/utilites/layout';

// Components
@import './assets/scss/components/slick.scss';

@import './assets/scss/variables';

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li, a {
    list-style-type: none;
}

a{
    color: #2cb8af;
}

svg{
    color: #2cb8af;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slick-track {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    margin: 0 auto;
}

.slick-list {
    text-align: center;
}

.fixed{
    position: fixed !important;
}