// Styleguide - Variables

// Font size
$font-sxl: 40px;
$font-4xl: 36px;
$font-xxxl: 28px;
$font-xxl: 24px;
$font-xl: 22px;
$font-lg: 18px;
$font-md: 16px;
$font-smd: 15px;
$font-rg: 14px;
$font-sm: 13px;
$font-xsm: 11px;
$font-xxs: 9px;

// Font Weight
$font-weight-light: 100;
$font-weight-normal: 200;
$font-weight-bold: 600;

// Font Icons
$fa-xsm: 10px;
$fa-sm: 15px;
$fa-md: 18px;
$fa-lg: 21px;
$fa-xl: 24px;
$fa-xxl: 28px;

// Colors
$col-white: #fff;
$col-white-2:#f5f5f5;
$col-grey: #333;
$col-grey-2: #8c8c8c;
$col-red: #a94442;
$col-black: #000;
