.formWrapper{
    background: #fff;
    border-radius: 0 0 10px 10px;
    padding: 35px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08);
    max-width: 600px;
    margin: 0 auto;
}

.formInput{
    margin-bottom: 20px;

    p{
        font-size: 12px;
        padding: 0 5px;
        font-weight: 400;
    }
}

.formFlex{
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.inputLabel{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #1a3b5d;
    width: 100%;
    display: block;
    user-select: none;
}

.inputText{
    width: 100%;
    height: 50px;
}

.inputTextarea{
    resize: none;
    height: 100px;
    width: 100%; 
}

.inputCheckbox{
    width: 15px;
    height: 15px;
}

.inputUploadContainer{
    border: 1px dotted;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

    .inputUpload{
        opacity: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        position: absolute;
        cursor: pointer;
    }

    img{
        width: 70px;
    }

    span{
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.inputText, .inputTextarea, .inputUploadContainer {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;

    &:hover, &:focus{
        box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, .35);
        outline: none;
        border-color: #2cb8af;
    }
}

.formButton{
    display: flex;
    justify-content: center;
}