
@import '../config.scss';

.rateContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rateIcon{
    color: $orange;
}

.rateNumber{
    margin: 0 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: $orange;
    align-self: center;
}

.rateParticipation{
    font-size: 12px;
    line-height: 16px;
    align-self: center;
    -webkit-box-flex: 0;
    flex-grow: 0;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 100;
}