@import '../config.scss';

.reviewContainer{}

.reviewSummary{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    a{
        margin-top: 20px;
        border: 1px solid #00000042;
        color: #000;
        background: transparent;
    }
}

.reviewContent{
    background: #f0f6f9;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 30px 10px;
    flex-direction: column;
}

.reviewItem{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;

    &:not(:last-child){
        margin-bottom: 40px;
    }
}

.reviewUser{}

.reviewWrapper{
    position: relative;

    &:before{
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 35px 0px 0px 35px;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        top: 40px;
        left: -35px;
    }
}
 
.reviewCard{
    width: 656px;
    padding: 20px 20px 22px;
    background: #fff;
    border-radius: 10px;
}

.reviewHeader{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 15px;

    .reviewInfo{
        
        h2{
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 5px;
        }
    }

    span{
        font-size: 14px;
        font-weight: 400;
        color: #888;
    }
}

.reviewCommnent{

    p{
        line-height: 1.7;
        margin-top: 8px;
        font-size: 14px;
        color: #333;
        font-weight: 300;
    }
}

//Rate

.rateIcon{
    color: $orange;
}

.rateNumber{
    margin: 0 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: $orange;
    align-self: center;
}

.rateParticipation{
    font-size: 12px;
    line-height: 16px;
    align-self: center;
    -webkit-box-flex: 0;
    flex-grow: 0;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 100;
}

//Form

.commentContainer{
    max-width: 1180px;
    margin: 30px auto;
}