@import './admin.scss';

.navbar{
    height: 65px;
    box-shadow: 0 0 2rem 0 rgba(53, 64, 82, 0.1); 
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .burgerLogo{
        font-size: 30px;
        color: $darkBlue;
        cursor: pointer;
    }

    .messageIcon{
        font-size: 20px;
    }

    .imgContainer{
        border: 1px solid yellow;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .imgText{
        font-size: 14px;
        font-weight: 400;
    }
}