@import './admin.scss';

.sidebar{
    width: 300px;
    background-color: $darkBlue;
    height: 100vh;
    overflow-y: scroll;

    .sidebarContainer{
        position: relative;
        z-index: 999;
    }
}

.imgLogo{
    max-width: 150px; 
}

.navLinksContainer{
    margin-top: 40px;

    div{
        width: 100%;

        
    }
    .navLinks{
        padding: 15px 25px;
        text-decoration: none;
        font-size: 16px;
        color: $dirtyWhite;
        display: flex;
        align-items: center;

        &:hover{
            background:  $lightBlue;
            color: $white;
            transition: .5s all ease;
        }
        
    
        svg{
            margin-right: 15px;
        }
    }
}


@media only screen and (max-width: 768px) {
    .sidebar{
        display:none;
    }
}
